.idea
*.o
*.d
.gcno
.gcda
.vscode
.gcov
*.cmake
*.make
*.check_cache
*.marks
*.so
*.internal
*.bin
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
*.ts
Makefile2
link.txt
a.out
TargetDirectories.txt
cmake-build-debug
cmake-build-release
cmake-build-debug-clang
cmake-build-release-clang
cmake_install.cmake
CMakeCache.txt
CMakeConfigureLog.yaml
CMakeFiles
*.ninja*
Makefile
.cmake*
raytracer
*.cpb
*.cbp
*.log
Testing/
raytracer.cbp
