.idea
*.o
*.d
.gcno
.gcda
.vscode
.gcov
*.make
*.check_cache
*.marks
*.so
*.internal
*.bin
*.ppm
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
*.ts
Makefile2
link.txt
a.out
TargetDirectories.txt
cmake-build-debug
cmake-build-release
cmake-build-debug-clang
cmake-build-release-clang
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Testing
CMakeConfigureLog.yaml
CMakeFiles
*.cmake
*.ninja*
Makefile
raytracer
*.cpb
*.cbp
*.log
Testing/
raytracer.cbp
.cache/
build/
unit_tests
compile_commands.json
fcleanCmake.sh

